@charset "UTF-8";

:root {
    --main-color: #860111;
}

input[type=submit] {
	color: white;
    border: 2px solid;
	border-color: grey;
	outline: none;
	padding: 1vw 2vh;
	position:relative;
	
}

input[type=submit]:hover {
	background-color: white;
	color: black;
	cursor: pointer;
	transition-duration: 0.5s;

}
input[type=submit]:active {
	outline: none;

}

input[type=text], input[type=password] {
	border: 2px solid;
	border-color: #242424;
	color: #242424;
    border-radius: 0.2vw 0.2vh;
	padding: 1vw 2vh;
	outline: none;
	transition-duration: 0.5s;
}

input[type=text]:hover {
	border-color: var(--main-color);
}
input[type=password]:hover {
	border-color: var(--main-color);
}
input[type=text]:focus {
	border-color: var(--main-color);
}
input[type=password]:focus {
	border-color: var(--main-color);
}
select {
		border: 2px solid;
	border-color: #242424;
	color: #242424;
    border-radius: 4px;
	padding: 1vw 2vh;
	outline: none;
	transition-duration: 0.5s;
}
select:hover {
	border-color: var(--main-color);
}

select:focus {
	border-color: var(--main-color);
}

iframe {
	border-color: var(--main-color);
	border: 2px solid;
	outline: none;
	border-radius: 4px;
}

#header { background-color: var(--main-color); max-width:100%; max-height:12%; 
		padding: 0.5%;
		padding-bottom: 6%;
		margin-bottom: 0.5%;
		top:0; bottom:80; right:0;
		font-size:3vw;
		line-height:0,75;
		color: white;
		
		font-family: "Impact";
		vertical-align:middle;
		
}

#content { max-width:100%; height:10%; 
		padding:1% 0.5% 2%;
		margin:0.5% 0% 4%;
		top:20; bottom:10; right:0;
		text-align: juistify;
		position: relative;
		float:center;
		
}
#content2 { max-width:100%; height:90%; 
		padding:0.5%;
		margin-top: 2%;
		top:20; bottom:10; right:0;
		text-align: juistify;
		position: relative;
		float: center;
		text-align: left;
}
#content3 { max-width:100%; height:90%; 
		padding:0.5%;
		margin-top: 2%;
		top:20; bottom:10; right:0;
		text-align: juistify;
		position: relative;
		float: center;
		text-align:center;
}
#hotbar{ background:#242424; max-width:100%; min-height:4%;
		padding: 0.5%;
		position: sticky;
		top:0; bottom:80; right:0;
		font-size:2vw;
		line-height:0,75;
		color:#242424;
		z-index: 2;
}

#hbbutt{
		background-color:#242424;
		padding:0.9vh 1vw;
		position: relative;
		border:none;
}
#hbbuttg{

        background-color:#5e5e5e;
        padding:0.9vh 1vw;
        position: relative;
        border:none;
		display: none;
}
#hbbutt:hover {
		background-color:white;
		color:#242424;
		border-color: var(--main-color);
}

#hbpos{
		float:left;
}
#hbpos2{
		float:right;
}

#button  {
		background-color: var(--main-color);
		border-radius: 0.2vw 0.2vh;
}

#button:hover {
		background-color:white;
		color:#242424;
		border-color: var(--main-color);
		z-index: 1;
}

#button2  {
		background-color: var(--main-color);
		border-radius: 0.2vw 0.2vh;
		margin-left:-8px;
}

#button2:hover {
		background-color:white;
		color:#242424;
		border-color: var(--main-color);
		margin-left:-8px;
		z-index: 1;
}
#Allgemein{
	text-align: center;
	float: right;
	width: 63%;
}

#Vermisst{
	text-align: center;
	float: left;
	width:35%;
	
}

#login{
	font-size:2vw;
	font-family: "Impact";
	color: var(--main-color);
}
#login2{
	padding-top:2%;
	
}
#Fehlermeldung{
		font-size:3vw;
		line-height:0,75;
		color: var(--main-color);
		font-family: "Impact";
		vertical-align:middle;
}
#Fehlerbutton  {
		background-color: var(--main-color);
		border-radius: 4px;
		padding:2% 4%;
		font-size:3vw;
}

#Fehlerbutton:hover {
		background-color:white;
		color:#242424;
		border-color: var(--main-color);
}
#Grau {
		font-size:3vw;
		line-height:0,75;
		color: #242424;
		font-family: "Impact";
		vertical-align:middle;
}
#Grau2 {
		font-size:1vw;
		line-height:0,75;
		color: #242424;
		font-family: "Impact";
		vertical-align:top;
		margin-top:-2%;
		
}
#Zentrieren {
		text-align: center;
}
#Adminname {
		text-align: left;
		font-size:2vw;
		line-height:0,75;
		color: white;
		font-family: "Impact";
		vertical-align:top;
		position: absolute;
		top:0; bottom:80; left:20;
		margin-top:1%;
		
		
}
#Rechts {
		float: right;
		
}
#TextHB {
		text-align: left;
		font-size:2vw;
		line-height:0,75;
		color: white;
		font-family: "Impact";
		vertical-align:middle;
		float: left;
		padding-right:2%;
}
#Titel {
		text-align: center;
		margin-bottom:-1%
}
#iFrame {
		font-size:2vw;
		font-family: "Impact";
		color: var(--main-color);
		margin-bottom:2%;
}
#iFrameA {
		text-align: right;
		font-size:2vw;
		font-family: "Impact";
		color: var(--main-color);
		margin-bottom:2%;
}
#iFrameV {
		text-align: left;
		font-size:2vw;
		font-family: "Impact";
		color: var(--main-color);
		margin-bottom:-4%;
		position: static;
}
#InputRegi {
		padding: 1vw 2vh;
		text-align: left;
		width:25%;
}
#EingabeDB {
		float:left;
		margin-right:0.25%
}
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #242424;
    color: #242424;
}
#TabUS {
	font-family: "Impact";
	color: var(--main-color);
}
#TitelTabl {
	margin: 3% 0% 0%;
}